{{>partials/header}}

    Ola, {{name}} {{lastName}} tudo bem?

    {{#showOld}}
        Você tem {{age}} anos?
    {{/showOld}}
    {{^showOld}}
        Você é menor de idade?
    {{/showOld}}
    <hr/>

    <ul>
        {{#products}}
            {{>partials/productItem}}
        {{/products}}
    </ul>
    <hr/>

        <ul>
            {{#frasesDoDia}}
                <li>{{.}}</li>
            {{/frasesDoDia}}
            {{^frasesDoDia}}
                <li>Não há frases motivacionas hoje</li>
            {{/frasesDoDia}}
        </ul>
        
{{>partials/footer}}