<html>
<head>
    <title>Página Home</title>
</head>
<body>
    <h1>Título da página</h1>
    <hr/>

    Ola, {{name}} {{lastName}} tudo bem?

    {{#showOld}}
        Você tem {{age}} anos?
    {{/showOld}}
    <hr/>

    {{#products}}
        <ul>
            <li>{{title}} - R$ {{price}}</li>
        </ul>
    {{/products}}
    <hr/>

    {{#frasesDoDia}}
        <ul>
            <li>{{.}}</li>
        </ul>
    {{/frasesDoDia}}
</body>
</html>